*{
  padding: 0;
  margin: 0;
}
body{
  
  min-height: 100dvh;

}

.select{
  border: none;
  background: none;
  outline: none;
  background-color: rgb(0, 109, 243);
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.panel{
  display: flex;
  height: 100dvh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.panel button {
  margin-top: 20px;
  border: none;
  background: none;
  outline: none;
  background-color: rgb(0, 109, 243);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border-radius: 20px;

}